<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="right_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="left_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="caster_wheel_link">
        <material>Gazebo/Black</material>
        <mu1 value="0.001" />
        <mu2 value="0.001" />
    </gazebo>



        <!-- Install gazebo_ros_pkgs sudo apt install ros-humble-gazebo-ros-pkgs -->
    <gazebo> 
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
            <ros>
                <namespace>/pub</namespace>
            </ros>
            <!-- Update rate in Hz -->
            <update_rate>30</update_rate>

            <!-- wheels -->
            <left_joint>base_left_wheel_joint</left_joint> <!--name of the joint-->
            <right_joint>base_right_wheel_joint</right_joint>  <!--name of the joint-->

            <!-- kinematics -->
            <wheel_separation>0.45</wheel_separation> <!-- distance between the wheels, base+half the wheel length-->
            <wheel_diameter>0.2</wheel_diameter> <!--2*wheel radius-->

            <!-- Limits -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            <!-- input -->
            <command_topic>cmd_vel</command_topic>
            
            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame> <!--base view point-->

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
            
        </plugin>
    </gazebo>

</robot>